* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #191818;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  gap: 80px;
  width: 100%;
}

video::-webkit-media-controls {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

header {
  background: #191818;
  height: 64px !important;
  width: 100vw !important;
  max-width: 100%;
  color: #b1b1b1;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 50px;
  padding: 0 30px;
  position: fixed;
  z-index: 999;
}

header a {
  text-decoration: none;
  font-size: 24px;
  font-family: 'TildaSans',Arial,sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.top > video {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: 64px;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar img{
  border-radius: 3000px;
  border: 2px solid #fff;
}

.person {
  position: relative;
  top: -120px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.person h1 {
  font-size: 48px;
  font-family: 'Arial',Arial,sans-serif;
  line-height: 1.5;
  font-weight: 500;
}
.person p {
  color: #fff;
  font-size: 24px;
  font-family: 'TildaSans',Arial,sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

.person > .contacts {
  display: flex;
  gap: 10px;
}

.person > .contacts > a > img {
  width: 26px;
  color: #fff;
  filter: invert(100%);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: #fff;
  padding: 64px 50px 0 50px;
}

.projects > h2 {
  font-size: 6.25em;
  font-family: 'TildaSans',Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}

hr {
  width: 250px;
  align-self: center;
  color: #fff;
  opacity: 0.8;
}

.projects-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-block {
  width: 100%;
  max-height: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  font-family: 'TildaSans',Arial,sans-serif;
  line-height: 32px;
  font-weight: 400;
  gap: 40px;
  flex-direction: row-reverse;
}
.projects-block > div, .projects-block > div > video{
  position: relative;
  max-width: 625px;
  width: 100%;
  font-size: 22px;
  line-height: 22px;
}
.projects-block > div > a {
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.projects-block > a {
  position: absolute;
}

.projects-block:nth-child(2n) > div.text {
  padding: 0 0 0 20px;
}

.about {
  display: flex;
  gap: 60px;
  padding-right: 80px;
}

.aboutleft {
  width: fit-content;
}

.aboutleft img {
  width: 80vw;
  max-width: 642px;
}

.aboutright {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.aboutright h2 {
  color: #ffffff;
  font-size: 42px;
  font-family: 'Arial',Arial,sans-serif;
  font-weight: 100;
  margin-left: 80px;
}

.aboutrightbody {
  display: flex;
  flex-wrap: wrap;
  row-gap: 150px;
  column-gap: 80px;
  justify-content: space-between;
}

.aboutblock {
  color: #fff;
  font-size: 24px;
  font-family: 'TildaSans',Arial,sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.aboutblock img {
  width: 2.5em;
  height: 2.5em;
  filter: invert(100%);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 40px 0;
}

footer > .contacts {
  display: flex;
  gap: 10px;
}

footer > .contacts > a > img {
  width: 26px;
  color: #fff;
  filter: invert(100%);
}

footer > a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.projects-left {
  display: flex;
  flex-direction: column;
  left: 0;
  position: relative;
  align-self: start;
}

.projects-blocks {
  display: flex;
  width: 100%;
  row-gap: 20px;
}


.projects-blocks > .projects-blocks-text {
  writing-mode: sideways-lr; /* Standard syntax */
  -webkit-writing-mode: vertical-rl; /* For older WebKit browsers */
  -moz-writing-mode: vertical-rl; /* Firefox support */
  -ms-writing-mode: vertical-rl; /* Microsoft Edge */
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 37px;
  font-family: 'TildaSans',Arial,sans-serif;
  line-height: 37px;
  font-weight: 400;
  padding: 0 40px;
}

.projects-blocks > .projects-blocks-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.projects-blocks:nth-child(2n) > .projects-blocks-text {
  background-color: #323232;
}

@media (width > 900px) {
  .projects-block {
    gap: 0;
  }
  .projects-body .projects-block:nth-child(2n) {
    flex-direction: row;
  }
}
@media (width <= 900px) {
  .projects-block > div.text {
    padding: 0 0 0 20px;
  }
  .projects {
    padding: 0;
  }
  .projects-body {
    row-gap: 40px;
  }
  .projects-block {
    max-height: none;
    flex-direction: column !important;
  }
}
@media (width < 1280px) {
  .projects-blocks > .projects-blocks-text {
    background: none !important;
  }
  .about {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    gap: 80px;
  }
  .aboutleft img {
    width: 80vw;
    max-width: none;
  }
  .aboutright {
    align-items: center;
    justify-content: center;
  }
  .aboutrightbody {
    align-items: center;
    justify-content: center;
  }
  .aboutright > h2 {
    text-align: center;
    margin: 0;
  }
  .projects-blocks {
    flex-direction: column;
  }
  .projects-blocks > .projects-blocks-text {
    writing-mode: inherit;
  }
  
}